@model Candidate_Voting_Sytem_Final.Models.Vote

@{
    ViewData["Title"] = "Delete";
}

<h1>Error Invalid Vote!</h1>

<h3>You can only vote for a single candidate</h3>
<div>
   
    <hr />
    
    
   
</div>
